body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #140c81;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #088014;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #258a40;
}

#listaTarefas {
    list-style-type: none;
    padding: 0;
}

#listaTarefas li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
}

#listaTarefas li:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

#listaTarefas li.completo 
{background-color: #000000;
    text-decoration: line-through;
    color: #ccc;
}
